html,
*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif; 
  line-height: 20px;
  background-color: #000;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: 100%;
}
ul{
  list-style: none;
}

a{
color: #FFFFFF;
  text-decoration: none;
}
.header{
  height: 100vh;
}

.container{
  max-width: 1440px;

  margin: 0 auto;
  width: 100%;

 
}

.header-top{
background-color: #000000;
}

.logo{
  width: 128px;
  height: 31px;
 margin: 30px 0 30px 152px;
}

.menu{
  display: flex;
}

.header__nav{
  display: flex;
}

.menu__nav{
 
  font-size: 15px;
  margin: 35px 32px 35px 0;
}

.menu__nav:first-child{
  font-size: 13px;
  margin-right: 56px;
}

.btn{
  color: #000;
  background-color: #fff;
  border-radius: 14px;
  padding: 11px 20px;
  font-size: 15px;
  line-height: 20px;

}

.header{
  background-image: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%),url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-position: bottom;
}

.header__btn{
  margin: 24px 140px 24px 0;
}
.header-top2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__footer{
  display: flex;
  align-items: flex-end;
  height: calc(100% - 85px );
  

}

.header__footer-item2{
  display: flex;
  align-items: flex-end;
}


.header__footer-item{
display: flex;
justify-content: center;
margin-bottom: 13px;
flex-wrap: wrap;
}

.header__info{
  max-width: 580px;
}
.header__icons{
  display: flex;
}

.header__footer-icons{
  display: flex;
  margin-bottom: 45px; 
   justify-content: flex-end;
   font-size: 12px;
   margin-right: 40px;
}

.header__icons{
  display: flex;
}

.header__icons-img{

  height: 15px;
  margin-right: 6px;
  align-items: end;
}
.header__icons-img-2{
  width: 32px;
}


.header__info-studio{
font-size: 54px;
line-height: 59px;
text-align: center;
  margin-bottom: 18px;

}
.header__info-span{
  color: #C0C0C0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.header__info-text{
  color: #C0C0C0;
text-align: center;
}

.header__icons{
  margin-right: 16px;
  align-items: flex-end;
}

.section__content{
padding-top: 112px;
margin-bottom: 84px;
}

.section__info{
  text-align: center;
 
  margin-bottom: 42px;
}

.section__info-item{
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
  font-weight: 400;
}

.section__info-block{
display: inline-block;

display: flex;
flex-wrap: wrap;
padding: 0 136px;
}

.section__info-item2{
  color: #C0C0C0;
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
}

.section__btn{
 display: inline-block;
margin: 15px 0 0 0;
padding-left: 42px;
position: relative;
font-size: 15px;
line-height: 20px;


}
.section__btn::before{
  content: '';
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #000;
  border-radius: 12.5px;
}

.section__info-img{
max-width: 576px;

display: inline-block;
position: relative;



}
.section__info-img{
  margin-bottom: 16px;
  width: 49%;
}

.section__info-img:nth-child(odd){
margin-right: 16px;
}


.section__img-text{
max-width: 515px;
margin-right: 45px;
}


.section__text{
  text-transform: uppercase;
 font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.section__info-text{
  position: absolute;
  bottom: 30px;
  left: 30px;
text-align: left;
}

.section__img__text{
  color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 26px;
}
.mountains{
  background-image: url(../images/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  
  
  
}
.mountains__section{
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-direction: column;
 height: 600px;

}


.mountains__item{
  max-width: 300px;
    margin-bottom: 204px;
    color: #C0C0C0;
    margin-right: 62px;
}

.section__icons{
  margin-bottom: 40px;
  margin-right: 45px;
}

.camera__content{
  display: flex;
  height: 540px;
}

.camera__tools{
  width: 50%;
  display: flex;
  align-items: center;
}

.camera__tools-text{
  margin-left: 100px;
}

.camera__content-text{
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 14px;
}

.canera__tools-text{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.camera__tools-text2{
color: #C0C0C0;
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
font-weight: 400;
margin-bottom: 6px;

}

.camera__photo{
  background-image: url(../images/camera.jpg);
  background-repeat: no-repeat;
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: space-between;

}

.camera__tools-text{
  max-width: 514px;
}

.camera__photo-item{
  width: 100%;
  display: flex;
  justify-content: end;
}

.camera__photo-icons{
display: flex;
margin-bottom: 45px;
margin-right: 40px;
font-size: 12px;

align-items: end;
}

.nature{
  background-image: url(../images/nature-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.section__icon{
  padding: 113px 0 140px 0;
}

.section__icon-past{
  padding-bottom: 15px;
}

.section__icon-trasted{
margin-bottom: 80px;
}
.section__icon-box{
  padding: 0 182px;
}

.section__icon-text{
  text-align: center;
}


.section__icon-icon{
      display: flex;
 justify-content: space-between;
     align-items: center;
}


.img__icons{
  width: 128px;

}


.img__icons:last-child{
  margin-right: 0;
}

.section__mountains{
  background-image: url(../images/mountains-bg.jpg);
  background-repeat: no-repeat;
background-size: cover;
  height: 600px;
  background-position: bottom;
}

.section__hepl-text{
text-align: center;
padding: 113px 0 121px 0;

}

.section__help-item{
  max-width: 571px;
  text-align: center;
  display: inline-block;
}


